
@{
    ViewData["Title"] = "Resumo";
}
@model CarrinhoViewModel
<h2>Resumo</h2>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <h2>Número do pedido: 12345678</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-3">
                <h3>Seus Dados</h3>
                <div> João da Silva </div>
                <div> 44123-4588 </div>
            </div>
            <div class="col-xs-3">
                <div class=" row-center">a@b.com.br</div>
            </div>
            <div class="col-xs-6">
                <h3>Endereço de entrega</h3>
                <div>Rua dos bobos, 0</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-10">
                <h3>Item</h3>
            </div>
            <div class="col-xs-2">
                <h3>Quantidade</h3>
            </div>
        </div>
        @foreach (ItemPedido item in Model.Itens)
        {
            <div class="row">
                <div class="col-xs-10">
                    <div>@item.Produto.Nome</div>
                </div>
                <div class="col-xs-2">
                    <div class="pull-right">@item.Quantidade</div>
                </div>
            </div>
        }
    </div>
</div>
